<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>网页</string>
		<key>title</key>
		<string>网页</string>
		<key>configurable</key>
		<true/>
		<key>iconName</key>
		<string>main_nav_messege</string>
		<key>className</key>
		<string>WebViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>消息</string>
		<key>title</key>
		<string>消息中心</string>
		<key>configurable</key>
		<true/>
		<key>iconName</key>
		<string>main_nav_messege</string>
		<key>className</key>
		<string>MessageViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>外勤应用</string>
		<key>title</key>
		<string>外勤应用</string>
		<key>configurable</key>
		<true/>
		<key>iconName</key>
		<string>main_nav_application</string>
		<key>className</key>
		<string>BusinessViewController</string>
		<key>menus</key>
		<array>
			<dict>
				<key>name</key>
				<string>管网维修</string>
				<key>subname</key>
				<string>管网维修</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>main_menu_workorder</string>
				<key>command</key>
				<string>WorkOrderCommandXtd</string>
			</dict>
			<dict>
				<key>name</key>
				<string>我的工单</string>
				<key>subname</key>
				<string>我的工单</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>main_menu_workorder</string>
				<key>command</key>
				<string>WorkOrderCommandXtd</string>
			</dict>
			<dict>
				<key>name</key>
				<string>工单管理</string>
				<key>subname</key>
				<string>工单管理</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>main_menu_workorder</string>
				<key>command</key>
				<string>WorkOrderCommandXtd</string>
			</dict>
			<dict>
				<key>name</key>
				<string>巡检任务</string>
				<key>subname</key>
				<string>巡检任务</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>main_menu_plantask</string>
				<key>command</key>
				<string>PatrolPlanTasksCommandXtd</string>
			</dict>
			<dict>
				<key>name</key>
				<string>养护任务</string>
				<key>subname</key>
				<string>养护任务</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>main_menu_flexflowreport</string>
				<key>command</key>
				<string>FlexflowreportPlanTaskCommandXtd</string>
			</dict>
			<dict>
				<key>name</key>
				<string>资产巡检</string>
				<key>subname</key>
				<string>资产巡检任务</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>main_menu_icon_asset_plan</string>
				<key>command</key>
				<string>AssetMaintainTaskCommandXtd</string>
			</dict>
			<dict>
				<key>name</key>
				<string>事件上报</string>
				<key>subname</key>
				<string>事件上报</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>main_menu_flexflowreport</string>
				<key>command</key>
				<string>EventReportCommandXtd</string>
			</dict>
			<dict>
				<key>name</key>
				<string>维修事件</string>
				<key>subname</key>
				<string>维修事件管理</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>event_icon_repair</string>
				<key>command</key>
				<string>EventManagementCommandXtd</string>
				<key>eventType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>查漏事件</string>
				<key>subname</key>
				<string>查漏事件管理</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>event_icon_leak</string>
				<key>command</key>
				<string>EventManagementCommandXtd</string>
				<key>eventType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>施工事件</string>
				<key>subname</key>
				<string>施工事件管理</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>event_icon_construction</string>
				<key>command</key>
				<string>EventManagementCommandXtd</string>
				<key>eventType</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>路面修补事件</string>
				<key>subname</key>
				<string>路面修补事件管理</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>event_icon_construction</string>
				<key>command</key>
				<string>EventManagementCommandXtd</string>
				<key>eventType</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>泵房养护</string>
				<key>subname</key>
				<string>泵房养护管理</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>main_menu_icon_pump_plan</string>
				<key>command</key>
				<string>EventManagementCommandXtd</string>
			</dict>
			<dict>
				<key>name</key>
				<string>日计划审批</string>
				<key>subname</key>
				<string>日计划审批</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>main_menu_icon_plans</string>
				<key>command</key>
				<string>CommandXtd</string>
			</dict>
			<dict>
				<key>name</key>
				<string>考勤打卡</string>
				<key>subname</key>
				<string>考勤打卡</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>main_menu_icon_plans</string>
				<key>command</key>
				<string>CommandXtd</string>
			</dict>
			<dict>
				<key>name</key>
				<string>养护管理</string>
				<key>subname</key>
				<string>养护管理</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>main_menu_icon_plans_1</string>
				<key>command</key>
				<string>CommandXtd</string>
			</dict>
			<dict>
				<key>name</key>
				<string>资产信息</string>
				<key>subname</key>
				<string>资产信息</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>main_menu_icon_plans_1</string>
				<key>command</key>
				<string>CommandXtd</string>
			</dict>
			<dict>
				<key>name</key>
				<string>计划管理</string>
				<key>subname</key>
				<string>计划管理</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>main_menu_icon_plans</string>
				<key>command</key>
				<string>CommandXtd</string>
			</dict>
			<dict>
				<key>name</key>
				<string>日报管理</string>
				<key>subname</key>
				<string>日报管理</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>main_menu_icon_daily</string>
				<key>command</key>
				<string>DailyManagementCommandXtd</string>
			</dict>
			<dict>
				<key>name</key>
				<string>轨迹查询</string>
				<key>subname</key>
				<string>轨迹查询</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<false/>
				<key>iconName</key>
				<string>event_icon_internal</string>
				<key>command</key>
				<string>UserTraceQueryXtd</string>
			</dict>
			<dict>
				<key>name</key>
				<string>地图围栏</string>
				<key>subname</key>
				<string>地图围栏</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>iconName</key>
				<string>event_icon_external</string>
				<key>command</key>
				<string>DailyManagementCommandXtd</string>
				<key>preload</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>离线地图</string>
				<key>subname</key>
				<string>离线地图</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>iconName</key>
				<string>event_icon_external</string>
				<key>command</key>
				<string>DailyManagementCommandXtd</string>
				<key>preload</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>信息采集</string>
				<key>subname</key>
				<string>信息采集</string>
				<key>deleteable</key>
				<false/>
				<key>dragable</key>
				<false/>
				<key>configurable</key>
				<true/>
				<key>preload</key>
				<true/>
				<key>iconName</key>
				<string>event_icon_scene</string>
				<key>command</key>
				<string>EventReportCommandXtd</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>地图</string>
		<key>title</key>
		<string>地图</string>
		<key>configurable</key>
		<true/>
		<key>iconName</key>
		<string>main_nav_map</string>
		<key>className</key>
		<string>ZZFormMapViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我</string>
		<key>title</key>
		<string>个人中心</string>
		<key>configurable</key>
		<true/>
		<key>iconName</key>
		<string>main_nav_my</string>
		<key>className</key>
		<string>ProfileViewController</string>
	</dict>
</array>
</plist>
